<%= form_tag '?', :method => :get do %>
  Funnel paths<br/>
  <%= params_text_field_tag 'paths[0]' %><br/>
  <%= params_text_field_tag 'paths[1]' %><br/>
  <%= params_text_field_tag 'paths[2]' %><br/>
  <%= params_text_field_tag 'paths[3]' %><br/>
  <%= params_text_field_tag 'paths[4]' %><br/>
  <%= params_text_field_tag 'paths[5]' %><br/>
  <%= params_text_field_tag 'paths[6]' %><br/>
  <br/>

  Compare<br/>
  A: <%= select_options_tag 'compare[0]', ['']+@tags %> <br/>
  B: <%= select_options_tag 'compare[1]', ['']+@tags %> <br/>
  C: <%= select_options_tag 'compare[2]', ['']+@tags %> <br/>

  <%= submit_tag 'Search' %>
<% end %>

<div id="chart_div"></div>

<script src="https://www.google.com/jsapi"></script>
<script>
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    var json = <%= @path_trails.to_json.html_safe %>
    var columns = json[0].length
    var rows = json.length

    data.addRows(rows) // add rows and columns

    data.addColumn('string', 'Path')
    // add a column for all counts
    for(var i=1;i<columns;i++){
      data.addColumn('number', 'Visitors(%)')
    }

    for(var i=0;i<rows;i++){
      data.setValue(i, 0, json[i][0]) // first: path
      for(var j=1;j<columns;j++){
        var full = json[0][j]
        data.setValue(i, j, json[i][j] * 100 / full) // counts: in %
      }
    }

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {
      width: 800, height: 400, title: 'Funnel',
      vAxis: {title: 'Path', titleTextStyle: {color: 'red'}}
    });
  }
</script>
