Total: <%= Trail.count %>

<%= form_tag '?', :method => :get do %>
  <div style="width: 300px; float:left">
    Funnel path:<br/>
    <%= render 'layouts/paths_selector' %>

    <br/><br/>
    <%= render 'layouts/date_range_picker' %>
  </div>

  <div style="width: 300px; float:left">
    Base:
    <%= select_options_tag "base_tag", ['']+@tags %> <br/>
    Compare<br/>
    <% 7.times do |i| %>
      <%= select_options_tag "compare[#{i}]", ['','all']+@tags %> <br/>
    <% end %>
    <br/><br/>

    Bars <%= select_options_tag 'bars', [['% of first','first'], ['% of prev','prev']] %><br/>
    Paths in between <%= select_options_tag 'between', ['',0,1,2,3,4,5] %><br/>
  </div>

  <div style="clear:both"></div>
  <br/>

  <%= submit_tag 'Search' %>
  <%= button_tag 'Org-chart', :onclick => "this.form.action = '/analyse/org'; this.form.submit()"  %>
<% end %>

<div id="chart_div"></div>

<script>
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    var json = <%= @data.to_json.html_safe %>
    var columns = json[0].length
    var rows = json.length
    var compare = <%= @compare.to_json.html_safe %>
    var bars = <%= params[:bars].to_json.html_safe %>

    data.addRows(rows) // add rows and columns

    data.addColumn('string', 'Path')

    // add a column for all counts
    for(var i=1;i<columns;i++){
      data.addColumn('number', compare[i-1] + ' % of ' + json[0][i])
    }

    for(var i=0;i<rows;i++){
      data.setValue(i, 0, json[i][0]) // first: path
      for(var j=1;j<columns;j++){
        var full = (bars == 'first' ? json[0][j] : (i == 0 ? json[i][j] : json[i-1][j]))
        data.setValue(i, j, json[i][j] * 100 / full) // counts: in %
      }
    }

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {
      width: 800, height: 400, title: 'Funnel',
      vAxis: {title: 'Path', titleTextStyle: {color: 'red'}},
      hAxis: {baseline: 0}
    });
  }
</script>
