<style>
  #chart_div > table{
    float:left;
  }
</style>

Total: <%= @full %> / <%= Trail.count %> (<0.5% ignored)

<%= form_tag '?', :method => :get, :id => 'org-form' do %>
  <div style="width: 300px; float:left">
    Path:<br/>
    <div id="paths"></div>
  </div>

  <div style="width: 300px; float:left">
    Tag: <%= select_options_tag 'compare[0]', ['']+@tags %> <br/>
    Show:
    <% start = (params[:show] == 'start') %>
    <%= params_radio_button_with_label 'show', 'start', 'coming from', :value => start %>
    <%= params_radio_button_with_label 'show', 'end', 'going to', :value => !start %>
    <br/>
  </div>

  <div style="clear:both"></div>

  <%= submit_tag 'Show' %>
<% end %>

<div id="chart_div"></div>

<script src="https://www.google.com/jsapi"></script>
<script>
  var selected_paths = <%= @selected_paths.to_json.html_safe %>
  var show = <%= params[:show].to_json.html_safe %>

  function drawPaths(paths){
    var paths = [''].concat(paths.filter(function(p){return p!=''})).concat([''])
    $('#paths').html($.map(paths, function(path){ return '<input type="text" name="paths[]" value="'+path+'" />' }).join('<br/>'))
  }

  function getPaths(){
    return $('#paths input').map(function(){ return this.value })
  }

  drawPaths(selected_paths)

  google.load('visualization', '1', {packages:['orgchart']});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = <%= @data.to_json.html_safe %>
    var graph = new google.visualization.DataTable();
    graph.addColumn('string', 'Name');
    graph.addColumn('string', 'Manager');

    // selected paths
    for(var i=0;i<selected_paths.length;i++){
      graph.addRow([selected_paths[i], i == 0 ? '' : selected_paths[i-1]])
    }

    var last = selected_paths[selected_paths.length-1]
    for(var i=0;i<data.length;i++){
      var path = data[i][0]
      var label = '<span class="data-node" data-node="' + path + '">'+ path + '<br/> ' + data[i][1] + '</span>'
      graph.addRow([{v: path, f:label},last])
    }

    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    chart.draw(graph, {allowHtml:true});
  }


  // load more on click
  $('#chart_div .data-node').live('click', function(){
    if(show == 'start'){
      selected_paths.unshift($(this).attr('data-node'))
    } else {
      selected_paths.push($(this).attr('data-node'))
    }

    drawPaths(selected_paths)
    $('#org-form').submit()
  })
</script>
