<style>
  #chart{
    padding: 20px;
    border-spacing: 10px;
  }

  #chart .data-node{
    padding: 10px;
    border: 1px solid #B5D9EA;
    background: #EDF7FF;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
  }
</style>

Total: <%= @full %> / <%= Trail.count %> (<<%= @min %>% ignored)

<%= form_tag '?', :method => :get, :id => 'org-form' do %>
  <div style="width: 300px; float:left">
    Path:<br/>
    <div id="paths"></div>
  </div>

  <div style="width: 300px; float:left">
    Tag: <%= select_options_tag 'compare[0]', ['']+@tags %> <br/>
    Show:
    <% start = (params[:show] == 'start') %>
    <%= params_radio_button_with_label 'show', 'start', 'coming from', :value => start %>
    <%= params_radio_button_with_label 'show', 'end', 'going to', :value => !start %>
    <br/>
  </div>

  <div style="clear:both"></div>

  <%= submit_tag 'Show' %>
<% end %>

<% columns = @data.size %>
<table id="chart">
  <% @selected_paths.each do |path| %>
    <tr>
      <td class="data-node" colspan="<%= columns %>"><%= path %></td>
    </tr>
  <% end %>
  <tr>
    <% @data.each do |path, percent| %>
      <td class="data-node" data-node="<%= path %>">
        <%= path %><br/><%= percent.round(2) %>
      </td>
    <% end %>
  </tr>
</table>

<script>
  var selected_paths = <%= @selected_paths.to_json.html_safe %>
  var show = <%= params[:show].to_json.html_safe %>

  function drawPaths(paths){
    var paths = [''].concat(paths.filter(function(p){return p!=''})).concat([''])
    $('#paths').html($.map(paths, function(path){ return '<input type="text" name="paths[]" value="'+path+'" />' }).join('<br/>'))
  }

  function getPaths(){
    return $('#paths input').map(function(){ return this.value })
  }

  drawPaths(selected_paths)

  // load more on click
  $('#chart .data-node').live('click', function(){
    if(show == 'start'){
      selected_paths.unshift($(this).attr('data-node'))
    } else {
      selected_paths.push($(this).attr('data-node'))
    }

    drawPaths(selected_paths)
    $('#org-form').submit()
  })
</script>
