<!DOCTYPE html>
<html>
<head>
  <title>TrailWatcher</title>
  <%= stylesheet_link_tag    "application", '/jquery/jquery-ui.css' %>
  <%= javascript_include_tag "application", '/jquery/jquery-ui.min.js' %>
  <script src="https://www.google.com/jsapi"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>

<%= yield %>

<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>

<span title="Only one of these tags is assigned at the same time">Tag-Groups:</span><br/>
<%= CFG[:tag_groups].map{|t|t.join(', ')}.join("<br/>").html_safe %>

</body>
</html>
